.messages-block {
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  gap: 12px;
  max-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  display: flex;
}

.message--owner {
  justify-content: flex-end;
}

.message__content {
  font-size: 14px;
  max-width: 60%;
  padding: 12px 8px;
  background-color: rgb(0, 112, 75);
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.message--owner .message__content {
  background-color: transparent;
  color: black;
}
